.card-list-header{
    position: relative;
    left: 0;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: scale(1);
    width: 45%;
    background: white;
    justify-content: space-between;
}
        .card-list-header-text{
            margin: 10px 10px;
            color: #1D2633;
            font-size: 1.5em;
        }
        .card-list-header-selector-container{

        }
                .card-list-header-selector-container a{
                    padding: 0 5px;
                }
                .card-list-header-selector-container a:not(:last-child){
                    border-right: 1px solid #333;
                }
.card-container{
    position: relative;
    left: 0;
    opacity: 1;
    display: table;
    background: white;
    width: 45%;
    webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    /*border-radius: 4px;*/
    /*text-align: justify;*/
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: scale(1);
    transition: .2s all ease-out;
}
    .card-container:first-of-type{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .card-container:last-of-type{
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .card-container:hover{
        margin-bottom: 10px;
        margin-top: 10px;
        transform: scale(1.02);
        transition: .2s all ease-out;
    }
        .card-content{
            opacity: 0;
            visibility: hidden;
            pointer-events: all;
        }
        .locked{

        }
        .category-container{
            position: relative;
            top: 10px;
            height: 5px;
            justify-content: flex-start !important;
            /*padding: 5px 0 0 5px;*/
            text-decoration: none;
            width: 100%;
        }
        .category-link-container{

        }
                .category-link{
                    position: relative;
                    bottom: -13px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #4F6582;
                }
                /* MOD TOOLS */
                .mod-tool-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 25px; height: 25px;
                    padding: 20px;
                    border-radius: 50%;
                }
                        .mod-tool-icon:hover{
                            box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
                        }
                .delete-thread-icon{
                    color: rgb(224, 45, 45);
                }
                .delete-thread-icon:hover{
                    color: #fc2323;
                }
                .lock-thread-icon{
                    color: #999;
                }
                .lock-thread-icon:hover{
                    color: #ccc;
                }
                .edit-thread-icon{
                    color: #FFC028;
                }
        .validated-label-container{
            position: absolute;
            top: -10px; right: 10px;
            width: 25px; height: 25px;
            background: green;
            color: white;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
                .validated-label-icon i{
                    font-size: 18px;
                }
          .lock-label-container{
              position: absolute;
              top: -10px; right: 45px;
              width: 25px; height: 25px;
              background: #FFC028;
              color: white;
              border-radius: 0 0 5px 5px;
              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          }
                  .lock-label-icon i{
                      font-size: 18px;
                  }
        .aligned-container{
            display: inline-block;
        }
        .options-container{
            display: flex;
            flex-direction: column !important;
            align-self: flex-end;
            position: relative;
            opacity: 1;
            margin-top: 5px;
            transition: .2s all;
        }
                .options-icon-container{
                    /*margin: 10px 35px;*/
                }
                .options-icon-container i{
                    font-size: 36px;
                }
                .options-follow-icon{
                    position: relative;
                    color: #F50000;
                    cursor: pointer;
                }
                .options-follow-icon:hover{
                    color: #ff2626;
                }
                        .options-add-icon{
                            font-size: 18px !important;
                        }
                        .align-subicon{
                            margin-top: 10px;
                        }
                        .options-icon-container:nth-child(1) .options-add-icon{
                            position: absolute;
                            top: 17px;
                            color: #F50000;
                        }
                        .options-icon-container:nth-child(1) .options-add-icon:hover{
                            color: #ff2626;
                        }

                .options-star-icon{
                    position: relative;
                    color: #FFD900;
                    cursor: pointer;
                }
                .options-star-icon:hover{
                    color: #ffe23d;
                }

                .options-icon-container:nth-child(3){
                    color: blue;
                }
                        .options-share-icon{

                        }
        .card-body-container{
            /*display: table;*/
            flex-direction: row;
            width: 100%;
            padding: 10px 10px 10px 20px;
            overflow: hidden;
        }
                .vote-container{
                    flex-direction: column !important;
                    font-size: 16px;
                    height: 70px;
                    position: relative;
                    left: 0; top: 2px;
                    /*float: left;*/
                }
                .vote-container i{
                    cursor: pointer;
                }
                .upvote{
                    position: relative;
                    top: 15px;
                    cursor: pointer;
                }
                .downvote{
                    position: relative;
                    bottom: 15px;
                    cursor: pointer;
                }
                .voted{
                    color: #ea9800;
                }
                .top-card-container{
                    display: inline-block;
                    width: 100%;
                    margin: 10px 0 10px 25px;
                }
                .title-container{
                    position: relative;
                }
                        .title{
                            font-size: 1.3em;
                            font-weight: bold;
                            color: rgba(0, 0, 0, 0.9);
                            cursor: pointer;
                        }
                .current-state-container{
                    display: inline-block;
                    margin: 5px 0 0 25px;
                }
                        .current-state-container p{
                            margin: 0; padding: 0;
                            color: rgba(0,0,0,0.5);
                        }
                        .current-state-container div{

                        }
                        .separator{
                            width: 100% !important; height: 1px !important;
                            margin: 7px 0;
                            background: rgba(0,0,0,0.2);
                        }
                        .current-state-answers-container{

                        }
                                .current-state-answers{

                                }
                                .current-state-container div p:nth-child(2){
                                    font-size: 12px;
                                }
                        .current-state-vote-container{

                        }
                        .description{
                            color: rgba(0,0,0,0.5);
                             max-height: 100px;
                             margin: 0;
                            -webkit-mask-image: -webkit-gradient(linear , left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
                        }
                .card-footer{
                    position: relative;
                    width: 100%; height: 1px;
                }
                /*.card-footer::before{
                    content: '';
                    position: absolute;
                    top: -20px; left: 0;
                    width: 100%; height: 50px;
                    background: transparent;
                    box-shadow: 1px 15px 30px 10px rgba(255,255,255,1);
                }*/
                        .card-footer-top{
                            display: flex;
                            justify-content: space-around;
                            width: 100%;
                            padding: 0 5px;
                        }
                                .identity{
                                    background-color: #eee;
                                    padding: 5px;
                                    width: 60%;
                                    display: none;
                                }
                                        .identity p{
                                            margin: 0; padding: 0;
                                        }
                                        .member-name{
                                            font-weight: bold;
                                            font-size: 16px;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                        .member-role{
                                            font-size: 13px;
                                        }
                                        .member-stats{
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            font-size: 12px;
                                        }
                        .tags-container{
                            width: 100%;
                            border-top: 1px solid #eee;
                            margin: 5px 0 0 0;
                            padding: 8px 0;
                        }
                                .tag::before{
                                    content: "#";
                                }
                                .tag:first-of-type{
                                    margin: 0 0 0 10px;
                                }
                                .tag{
                                    color: #6ABDF1;
                                    margin: 0 3px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding: 5px;
                                    border-radius: 5px;
                                }
.page-anchor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .card-container{
        width: 100vw;
    }
}
