.card-container{
    position: relative;
    left: 0;
    opacity: 1;
    display: table;
    background: white;
    min-width: 100%;
    webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    border-radius: 4px;
    /*text-align: justify;*/
    margin-bottom: 15px;
    box-shadow: 0 2px 3px rgba(35,35,35,0.3);
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    transition: .3s all;
}
        .card-content{
            opacity: 0;
            visibility: hidden;
            pointer-events: all;
        }
        .locked{

        }
.card-container:hover{
    transition: .2s all;
}
        .category-container{
            justify-content: space-between !important;
            padding: 5px 0 0 5px;
            text-decoration: none;
            width: 70%;
        }
                .category-link{
                    font-size: 14px;
                    font-weight: bold;
                    color: #4F6582;
                }
                /* MOD TOOLS */
                .mod-tool-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 25px; height: 25px;
                    padding: 20px;
                    border-radius: 50%;
                }
                        .mod-tool-icon:hover{
                            box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
                        }
                .delete-thread-icon{
                    color: rgb(224, 45, 45);
                }
                .lock-thread-icon{
                    color: #999;
                }
                .edit-thread-icon{
                    color: #FFC028;
                }
        .validated-label-container{
            position: absolute;
            top: 0; right: 10px;
            width: 25px; height: 25px;
            background: green;
            color: white;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
                .validated-label-icon i{
                    font-size: 18px;
                }
          .lock-label-container{
              position: absolute;
              top: 0; right: 45px;
              width: 25px; height: 25px;
              background: #FFC028;
              color: white;
              border-radius: 0 0 5px 5px;
              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          }
                  .lock-label-icon i{
                      font-size: 18px;
                  }
        .options-container{
            position: relative;
            flex-direction: row !important;
            opacity: 1;
            transition: .2s all;
        }
                .options-icon-container{
                    display: inline-flex;
                    margin: 10px 35px;
                }
                .options-icon-container i{
                    font-size: 36px;
                }
                .options-follow-icon{
                    position: relative;
                    color: #F50000;
                    cursor: pointer;
                }
                        .options-add-icon{
                            font-size: 18px !important;
                        }
                        .options-icon-container:nth-child(1) .options-add-icon{
                            position: absolute;
                            top: 17px;
                            color: #F50000;
                        }
                .options-star-icon{
                    position: relative;
                    color: #FFD900;
                    cursor: pointer;
                }
                .options-icon-container:nth-child(3){
                    color: blue;
                }
                        .options-share-icon{

                        }
        .card-body-container{
            padding: 0 35px 15px 20px;
            overflow: hidden;
        }
                .vote-container{
                    flex-direction: column !important;
                    font-size: 16px;
                    width: 0px; height: 70px;
                    position: relative;
                    left: 0; top: 2px;
                    float: left;
                }
                .vote-container i{
                    cursor: pointer;
                }
                .upvote{
                    position: relative;
                    top: 15px;
                    cursor: pointer;
                }
                .downvote{
                    position: relative;
                    bottom: 15px;
                    cursor: pointer;
                }
                .voted{
                    color: #ea9800;
                }
                .title-container{
                    position: relative;
                    margin: 10px 0;
                    left: 10px;
                    width: 85%;
                }
                        .title{
                            font-size: 1.3em;
                            font-weight: bold;
                            color: rgba(0, 0, 0, 0.9);
                            cursor: pointer;
                        }
                .current-state-container{
                    width: 100%; height: 50px;
                    justify-content: space-around !important;
                }
                        .current-state-container p{
                            margin: 0; padding: 0;
                            color: rgba(0,0,0,0.5);
                        }
                        .current-state-container div{
                            width: 50px; height: 50px;
                        }
                        .separator{
                            width: 1px !important; height: 100% !important;
                            background: rgba(0,0,0,0.2);
                        }
                        .current-state-answers-container{
                            flex-direction: column !important;
                        }
                                .current-state-answers{

                                }
                                .current-state-container div p:nth-child(2){
                                    font-size: 12px;
                                }
                        .current-state-vote-container{
                            flex-direction: column !important;
                        }
                        .description{
                            color: rgba(0,0,0,0.5);
                             max-height: 100px;
                             margin: 0;
                            -webkit-mask-image: -webkit-gradient(linear , left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
                        }
                .card-footer{
                    position: relative;
                    width: 100%; height: 1px;
                }
                /*.card-footer::before{
                    content: '';
                    position: absolute;
                    top: -20px; left: 0;
                    width: 100%; height: 50px;
                    background: transparent;
                    box-shadow: 1px 15px 30px 10px rgba(255,255,255,1);
                }*/
                        .card-footer-top{
                            display: flex;
                            justify-content: space-around;
                            width: 100%;
                            padding: 0 5px;
                        }
                                .identity{
                                    background-color: #eee;
                                    padding: 5px;
                                    width: 60%;
                                    display: none;
                                }
                                        .identity p{
                                            margin: 0; padding: 0;
                                        }
                                        .member-name{
                                            font-weight: bold;
                                            font-size: 16px;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                        .member-role{
                                            font-size: 13px;
                                        }
                                        .member-stats{
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            font-size: 12px;
                                        }
                        .tags-container{
                            width: 100%;
                            border-top: 1px solid #eee;
                            margin: 5px 0 0 0;
                            padding: 8px 0;
                        }
                                .tag::before{
                                    content: "#";
                                }
                                .tag:first-of-type{
                                    margin: 0 0 0 10px;
                                }
                                .tag{
                                    color: #6ABDF1;
                                    margin: 0 3px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding: 5px;
                                    border-radius: 5px;
                                }
.page-anchor{
    columns: 5 350px;
}
