#new-thread-container{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    transition: .5s all !important;
}
        #new-thread-body-container{
            position: relative;
            flex-direction: column;
            border-radius: 4px;
            background: rgba(255,255,255,1);
            width: 35%;
            max-width: 650px;
            max-height: 80vh;
            z-index: 999;
            padding: 15px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        #new-thread-body-container input, textarea, #categories-container{
          margin: 25px 0 0 0;
        }
        #new-thread-body-container input:first-of-type{
            margin: 0;
        }
        #new-thread-form-container{
            width: 100% !important;
            max-height: 100% !important;
        }

                #new-thread-top-container{
                    width: 100%;
                    justify-content: space-between;
                }
                        #new-thread-title{
                            font-size: 28px;
                            margin: 15px 0;
                        }
                #new-thread-form{
                    flex-direction: column !important;
                    min-width: 100%;
                    max-height: 75vh;
                }
                        .error-text{
                            display: none;
                            position: relative;
                            color: red;
                            font-size: 0.8em;
                            padding: 3px 0 0 0;
                            align-self: flex-start;;
                        }
                        .display-error-text{
                            display: inline;
                        }
                        #new-thread-name-input{
                            width: 100%;
                            background: none;
                            border: none;
                            font-size: 1.8em;
                            border-bottom: 1px solid #6ABDF1;
                        }
                        #new-thread-textarea{
                            margin-top: 10px;
                            padding: 5px;
                            min-width: 300px;
                            max-width: 100%;
                            border: 1px solid #ccc;
                            background: #ddd;
                        }
                                #new-thread-textarea:focus{
                                    background: white;
                                }
                        #warning-container{
                            align-self: flex-start;
                        }
                                #warning-container p{
                                    margin: 5px 0 0 0;
                                    font-size: 0.85em;
                                    color: rgba(0,0,0,0.4);
                                }
                        #categories-container{
                            display: inline-block;
                            align-self: flex-start;
                            justify-content: flex-start;
                            width: 100%;
                            margin-bottom: 15px;
                        }
                            #categories-container label{
                                color: rgba(0,0,0,0.6);
                              margin: 0 0 0 0;
                            }
                        #new-thread-button{
                            border: none;
                            background: #1879A8;
                            float: right;
                            color: rgba(255, 255, 255, 0.8);
                            padding: 10px 15px;
                            cursor: pointer;
                            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        }
        #top-preview-container{
            justify-content: space-between;
            width: 100%;
        }
        #preview-label-container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
                #preview-label{
                    padding: 0;
                    padding-right: 5px;
                }
                #refresh-preview{
                    opacity: 0.5;
                    cursor: pointer;
                    transform: scale(1);
                    transition: 0.2s all;
                }
                #refresh-preview:active{
                    transform: scale(0.5);
                    transition: 0.2s all;
                }
                #md-cheatsheet{
                    padding-right: 15px;
                }
        #preview-box-container{
            align-self: flex-start;
            padding-left: 15px;
            word-wrap: break-word;
            width: 100%;
            overflow-y: scroll;
        }
                #preview-text{
                    color: rgba(0,0,0,0.4);
                }
#define-password-container{
    position: relative;
    align-items: center;
    margin: 15px 0 0 0;
    width: 80%;
    min-width: 300px;
    padding: 15px 30px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    transition: .5s all !important;
}
        #define-password-card{
            flex-direction: column;
            position: relative;
            border-radius: 4px;
            background: rgba(255,255,255,1);
            width: 35%;
            min-width: 300px;
            z-index: 999;
            padding: 15px;
            margin-top: 50px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
                #define-password-form{
                    flex-direction: column;
                    align-items: center;
                }
                #define-password-form label{
                    margin: 20px 0 0 0;
                }
                #define-password-button{
                    align-self: center;
                    margin: 20px 0 0 0;
                }
                #cgu-checkbox-container{
                    flex-direction: column;
                    margin-top: 35px;
                }
#main-container{
  max-width: 100vw;
  padding: 10px 0;
  /*column-gap: 20px;
  column-span: none;*/
}
.sort-mode{
    color: #4F6582;
}
.selected-sort-mode{
    color: #444 !important;
    cursor:text;
}
.column-5-layout{
  columns: 5 350px;
}
.column-3-layout{
  columns: 3 475px;
}
        #top-wrapper{
            position: relative;
            top: 0; left: 0;
            width: 100%; height: 40vh;
        }
        #card-wrapper{
          position: relative;
          top: 0; left: 0;
          width: 100%; height: 100%;
        }
        #nothing-here-container{
          opacity: 0.7;
          color: #95bcc6;
        }
        #add-button{
            position: fixed;
            bottom: 35px; right: 35px;
            width: 65px; height: 65px;
            border-radius: 50%;
            background: #ff8400;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: .2s all;
        }
                #add-button i{
                  color: white;
                }

@media only screen and (max-width: 600px) {
    #rules-container{
        display: none !important;
    }
    .current-state-container{
        display: none !important;
    }
    .card-list-header{
        width: 100vw !important;
    }
    #new-thread-title{
        font-size: 28px;
        margin: 0 15px 15px 0;
    }
    #new-thread-body-container{
        width: 100% !important;
        max-height: 100% !important;
    }
    textarea{
        width: 100%;
    }
    #new-thread-textarea{
        max-width: 300px !important;
    }
}

@media only screen and (max-width: 1350px) {
    .card-list-header{
        width: 80% !important;
    }
    .card-container{
        width: 80% !important;
    }
}
@media only screen and (max-width: 600px) {
    .card-list-header{
        width: 100% !important;
    }
    .card-container{
        width: 100% !important;
    }
}
