#rules-container{
    display: block;
    position: fixed;
    top: 60px; right: -24%;
    width: 25%;
    min-width: 350px;
    padding: 15px;
    padding-right: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: .3s all;
    z-index: 1;
}
        #rules-container p{
            margin: 5px 0;
        }
        #rules-collapse-button-container{
            position: absolute;
            cursor: pointer;
            left: -25px; top: calc( 50% - 30px );
            /*border: 1px solid #777;*/
            border-radius: 50%;
            width: 50px; height: 50px;
            background-color: white;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: .2s all;
        }
        #rules-collapse-button-container:active{
            transform: scale(0.9);
            transition: .2s all;
        }

        #rules-collapse-button-container .material-icons{
            color: #444;
        }

        #rules-collapse-button-container .material-icons:hover{
            color: #444;
        }

        #rules-header{

        }
        #rules-content{
            overflow-y:auto;
            max-height: 100vw;
        }
                #rules-content li{
                    margin: 5px 0;
                }
.rotate-arrow-left{
    transform: scale(-1,1);
}

@media only screen and (max-width: 600px) {

}
