body{
    background: #1D2633;
}
#main-container{
    overflow: hidden;
    padding: 13vh 0 50px 0;
    width: 300px;
}
#card-container{
    position: relative;
    width: 300px;
    background: #EDEFF2;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    border-radius: 4px;
}
        #card-header-container{
            width: 100%;
        }
        #tab-container{
            width: 100%;
        }
                .tab-name{
                    width: 50%;
                    margin: 15px 10px;
                    font-weight: 400;
                    font-size: 1.3em;
                    cursor: pointer;
                    color: #1879A8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #tab-login{

                }
                #tab-reset{

                }
                #marker-container{
                    width: 100%; height: 5px;
                }
                        #marker{
                            position: relative;
                            left: 0;
                            width: 50%; height: 5px;
                            background:  #4F6582;
                            transition: .2s all;
                        }
        #login-logo-container{
            margin-top: 25px;
            width: 65%;
        }
                #login-logo{

                }
        #form-container{
            position: relative;
            justify-content: flex-start;
        }
        #login-form-container{
            position: relative;
            left: 110px;
            width: 225px;
            transition: .4s all;
        }
                #login-form{

                }
                        .login-form-input{
                            background: none;
                            border: none;
                            border-bottom: 1px solid #4F6582;
                            padding: 15px 10px 5px 0;
                            width: 100%;
                            color: #1879A8;
                            font-size: 16px;
                        }
                        .login-form-input:not(:first-child){
                            margin-top: 15px;
                        }
                        .login-form-input:first-child{
                            margin-top: 20px;
                        }
        #reset-form-container{
            position: relative;
            left: 225px;
            width: 225px;
            transition: .4s all;
        }
#login-button-container{
    margin: 35px 0 0 0;
}
#reset-button-container{
    margin: 35px 0 0 0;
}
        .login-button{
            position: relative;
            top: 35px;
            border: none;
            margin: 0; padding: 20px 50px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.5em;
            background: #1879A8;
            border-radius: 1px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            cursor: pointer;
            transition: .3s all;
        }
        #login-button:hover{
            box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
            transition: .3s all;
        }

#error-container{
  background: rgb(173, 32, 32);
  border-radius: 2px;
  padding: 10px 5px;
  position: fixed;
  bottom: 0;
  opacity: 0;
  transition: .5s all .5s;
}
#error-text{
  color: rgba(255, 255, 255, 0.8);
  padding: 0 10px 0 0;
}
#error-icon{
  color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
    #card-container{
        top: 2vh;
    }
}

.tab-name:active{
    top: 2px;
}

.hide-login-tab{
    left: -225px !important;
    transition: .4s all;
}
.display-reset-tab{
    left: -110px !important;
    transition: .4s all;
}
.highlight-tab{
    left: 50% !important;
    transition: .2s all;
}
