body{
  background: black;
}
#main-container{
    flex-direction: column !important;
    position: relative;
}
            #login-logo-container{
              flex-direction: column;
              position: relative;
              margin: 50px 0 0 0;
            }
                #login-text{
                  color: rgba(255, 255, 255, 1);
                  font-size: 178px;
                  margin: 0; padding: 0;
                  font-family: courier, sans-serif;
                  /*font-family: 'Roboto Thin', sans-serif;*/
                  font-weight: 100;
                }
                #login-text-after{
                  position:absolute;
                  text-shadow:-2px 0 red;
                  top: 0px; left: -2px;
                  color:white;
                  background:black;
                  overflow:hidden;
                  clip:rect(0 900px 0 0);
                  color: rgba(255, 255, 255, 1);
                  font-size: 178px;
                  margin: 0; padding: 0;
                  /*font-family: 'Roboto Thin', sans-serif;*/
                  font-family: courier, sans-serif;
                  font-weight: 100;
                }
                #login-text-before{
                  position:absolute;
                  text-shadow:1px 0 blue;
                  top: 0px; left: 2px;
                  color:white;
                  background:black;
                  overflow:hidden;
                  color: rgba(255, 255, 255, 1);
                  font-size: 178px;
                  margin: 0; padding: 0;
                  /*font-family: 'Roboto Thin', sans-serif;*/
                  font-family: courier, sans-serif;
                  font-weight: 100;
                }

                    .bracket{
                      font-size: 212px;
                      font-family: "Roboto Regular", sans-serif;
                      position: relative;
                      top: 32px;
                    }
                #login-subtext-container{
                  position: relative;
                  top: -40px;
                  margin: 0 0 0 30px; padding: 0;

                }
                #login-subtext-before{
                  position:absolute;
                  text-shadow:-1px 0 red;
                  top: 0; left: -2px;
                  color:white;
                  background:black;
                  overflow:hidden;
                  font-size: 1.5em;
                  clip:rect(0 900px 0 0);
                  color: rgba(255, 255, 255, 0.8);
                  font-family: "Roboto Thin", sans-serif;
                  letter-spacing: 30px;
                }
                #login-subtext{
                  color: rgba(255, 255, 255, 0.8);
                  font-size: 1.5em;
                  font-family: "Roboto Thin", sans-serif;
                  letter-spacing: 30px;
                }
                #login-subtext-after{
                  position:absolute;
                  text-shadow:-1px 0 blue;
                  top: 0; left: 2px;
                  color:white;
                  background:black;
                  overflow:hidden;
                  font-size: 1.5em;
                  clip:rect(0 900px 0 0);
                  color: rgba(255, 255, 255, 0.8);
                  font-family: "Roboto Thin", sans-serif;
                  letter-spacing: 30px;
                }

                #form-container{
                  position: relative;
                    flex-direction: column !important;
                    margin-top: 50px;
                }
                        #login-form{
                          position: relative;
                            flex-direction: column !important;
                        }
                        input{
                          border:none;
                          background: none;
                          border-bottom: 1px solid rgba(255,255,255,0.4);
                          color: rgba(255, 255, 255, 0.8);
                          font-family: "Roboto Thin", sans-serif;
                          font-size: 1.5em;
                          margin-bottom: 35px;
                          transition: .2s all;
                        }
                        input:focus{

                        }
                        #login-button-container{
                          margin: 15px 0 0 0;
                          position: relative;
                        }
                            button{
                              font-family: "Roboto Thin", sans-serif;
                              font-size: 2.5em;
                              text-transform: uppercase;
                              background: none;
                              border: none;
                              color: rgba(255, 255, 255, 0.8);
                              cursor: pointer;
                            }
                            button::after{
                              content:"LOGIN";
                              position:absolute;
                              top: 0; left:7px;
                              text-shadow:0 0 ;
                              color:rgba(255,255,255,0.6);
                              background:black;
                              overflow:hidden;
                            /*  animation:noise-anim-alt 2s infinite linear alternate-reverse;*/
                            }
                            button::before{
                              content:"LOGIN";
                              position:absolute;
                              left:5px;
                              text-shadow:0 0 ;
                              top: 0;
                              color:rgba(255,255,255,0.6);
                              background:black;
                              overflow:hidden;
                              /*animation:noise-anim-alt-2 3s infinite linear alternate-reverse;*/
                            }
                            button:hover::before{
                              text-shadow:1px 0 blue !important;
                              animation:noise-anim-alt-2 2s infinite linear alternate-reverse !important;
                            }
                            button:hover::after{
                              text-shadow:-1px 0 red !important;
                              animation:noise-anim-alt 2s infinite linear alternate-reverse !important;
                            }

        #error-container{
          background: rgb(173, 32, 32);
          position: fixed;
          bottom: 0;
          opacity: 0;
          transition: .5s all .5s;
        }
        #error-text{
          color: rgba(255, 255, 255, 0.8);
          padding: 0 10px 0 0;
        }
        #error-icon{
          color: rgba(255, 255, 255, 0.8);
          padding: 0 10px;
        }
