.highlight-admin-post{
    background: rgba(255, 204, 0, 0.2) !important;
}
.highlight-validated-post{
    background: rgba(125, 255, 0, 0.2) !important;
}
.member-class-container{
    justify-content: flex-start;
}
.upvote{
    cursor: pointer;
}
.downvote{
    cursor: pointer;
}
.thread-upvote{
    cursor: pointer;
}
.thread-downvote{
    cursor: pointer;
}
.voted{
    color: #ea9800;
}
.valid-reply-button{
    border: 2px solid green;
    color: green;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
.validated{
    color: white;
    background: green;
}
.edit-button{
    color: #333;
    cursor: pointer;
}
.created-container{
    display: flex;
    justify-content: flex-end;
}
.bottom-reply-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}
        .bottom-reply-container div{
            display: flex;
            justify-content: flex-start;
            margin-top: 15px;
        }
                .edit-action-button{
                    box-shadow: 0 5px 5px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.24);
                    padding: 5px 10px; margin: 5px 7px 5px 0 !important;
                    border-radius: 2px;
                }
                .confirm-edit{
                    color: white;
                    background: green;
                    border-radius: 3px;
                    cursor: pointer;
                }
                .cancel-edit{
                    color: white;
                    background: #1879A8;
                    border-radius: 3px;
                    cursor: pointer;
                }
                .edited-container{
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.4);
                }
                .report-button-container{
                    display: inline-block;
                }
                        .report-button{
                            display: inline;
                            color: #DA472E;
                            cursor: pointer;
                        }
                        .report-button:hover{
                            text-decoration: underline;
                        }

.edit-textarea{
    width: 100%;
}
