.error-text{
    display: none;
    position: relative;
    color: red;
    font-size: 0.8em;
    margin-left: 15px;
    align-self: flex-start;
}
.display-error-text{
    display: inline;
}
#filter-icon{

}
.locked-button{
    background: grey !important;
}
#thread-container{
    position: relative;
    width: 60%;
    margin-top: 15px;
    min-width: 800px;
    background: white;
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*padding: 15px 25px;*/
    margin-bottom: 15px;
}
.post-container p{
    margin: 2px 0;
}
#original-post{
    position: relative;
    padding: 25px 25px 10px 15px;
    border-radius: 4px;
}
            #original-post p{
                margin: 2px 0;
            }
                        #original-post .bottom-container .post-stats{
                            display: flex;
                            justify-content: flex-end;
                            flex-direction: column;
                        }
                #op-title-container{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: 25px;
                }
                        #op-title{
                            margin: 0 0 0 20px;
                        }
                        .mod-lock-container{
                          padding: 0 0 0 15px;
                          justify-content: space-between;
                          background: #FFC028;
                          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                          cursor: pointer;
                        }
                            .mod-lock-text{
                              padding: 5px 15px;
                              padding-left: 5px;
                              font-size: 1.2em;
                              border-radius: 4px;
                            }
                #op-content-container{
                    justify-content: flex-start;
                }
                #op-description-container{
                    justify-content: flex-start !important;
                    margin-bottom: 25px;
                    align-self: flex-start;
                }
                #op-description-container .vote-container{
                    position: relative;
                    top: 0px;
                }
                        #op-description{
                            font-weight: lighter;
                            color: rgba(0,0,0,0.8);
                            font-size: 16px;
                        }
        .identity-container{
            position: relative;
            display: flex;
            align-self: flex-start;
            margin-bottom: 15px;
            justify-content: space-between;
            flex-direction: column;
        }
                .identity{
                    align-self: flex-start;
                    position: relative;
                    left: -15px;
                    /*background: #eee;*/
                    padding-left: 22px;
                    /*box-shadow: 4px 0px 4px -1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
                }
                        .member-name{
                            font-weight: bold;
                            font-size: 16px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .member-subtitle-container{
                            width: 100%;
                        }
                        .member-subtitle-container p, .member-subtitle-container img{
                            display: inline-block;
                        }
                        .member-role{
                            font-size: 14px;
                        }
                        .member-stats{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 12px;
                        }
                        #op-class-container{
                            justify-content: flex-start;
                        }
                .post-stats{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 5px; right: 5px;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.4);
                }
                        .report-container{
                            margin-right: 5px;
                        }
                .op-post-stats{
                    flex-direction: column;
                    position: absolute;
                    bottom: 5px; right: 5px;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.4);
                }

        #answer-sort-container{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%; height: 25px;
            margin: 10px 0;
            padding: 0 20px;
        }
                #answer-quantity{
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.7);
                }

                #sort-by-container{
                    background: #eee;
                    padding: 5px; margin: 0;
                    border-radius: 4px;
                    cursor: pointer;
                }
                        #sort-by{
                            display: inline-block;
                            position: relative;
                            top: -10px;
                        }
                        #sort-by-container i{
                            display: inline-block;
                            position: relative;
                            top: -3px;
                        }
        .post-content-container{
            justify-content: flex-start;
        }
        .post-container{
            border-top: 1px solid #ddd;
            position: relative;
            left: 0;
            opacity: 1;
            padding: 15px;
            padding-top: 25px;
            padding-bottom: 5px;
            transition: .5s;
        }
                .vote-container{
                    flex-direction: column !important;
                    position: relative;
                    top: -5px;
                    margin: 0 15px 0 0 ;
                }
                .post-response-container{
                    display: flex;
                    justify-content: flex-start;
                    align-self: flex-start;
                    width: 100%;
                }
                        .post-response{
                            width: 95%;
                        }
        #add-comment-container{
            justify-content: space-between !important;
            padding: 0 15px;
        }
                #add-comment{
                    font-weight: bold;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.8);
                }
        #reply-button-container{
            display: inline;
            padding: 5px; margin: 5px 0;
            border-radius: 2px;
            margin: 5px 0;
            cursor: pointer;
        }
                #new-reply-button{
                    border: none;
                    color: #eee;
                    background: #1B3862;
                    padding: 5px 10px; margin: 5px 0;
                    border-radius: 2px;
                    margin: 5px 0;
                    cursor: pointer;
                    box-shadow: 0 5px 5px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.24);
                }

                #new-reply-form{
                    padding: 0 15px;
                }
                        #reply-box{
                            margin: 15px 0 0 0;
                            padding: 8px;
                            width: 100%;
                        }
        #preview-label-container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        #preview-label{
            padding: 0 15px;
            padding-right: 5px;
        }
        #refresh-preview{
            opacity: 0.5;
            cursor: pointer;
            transform: scale(1);
            transition: 0.2s all;
        }
        #refresh-preview:active{
            transform: scale(0.5);
            transition: 0.2s all;
        }

        #preview-box-container{
            width: 100%;
        }
                #preview{
                    padding: 15px;
                    padding-top: 0;
                }
                        #preview-text{

                        }
                                #preview-placeholder{
                                    color: rgba(0, 0, 0, 0.6);
                                }

@media only screen and (max-width: 600px) {
    #thread-container{
      min-width: 100% !important;
    }
    #op-description-container{
        display: block !important;
    }
    .created-container{
        position: relative;
        left: 12px;
    }
}
