.expand-card{
    width: 80% !important;
}
.new-card{
    left: -50px !important;
    opacity: 0 !important;
}
.display{
    opacity: 1 !important;
    z-index: 99 !important;
    .transition: .2s all;
}
.space-right{
    margin-right: 50px !important;
}
.display-flex{
    display: flex !important;
    z-index: 999 !important;
}
.display-new-thread-form{
    top: 0 !important;
    transition: .2s all;
}
.success-toast{
    background: #7FC468 !important;
}
.page-out{
    transform: scale(1.05) !important;
    opacity: 0 !important;
    z-index: -1;
}
.reduce-fade-out{
    transform: scale(0.95) !important;
    opacity: 0 !important;
}
.spawn-new-thread{
    transform: scale(1) !important;
    opacity: 1 !important;
    z-index: 99;
}
.rules-expand{
    right: 0% !important;
}
.rules-container-notification-collapse{
 right: calc(-24% + 400px) !important;
}
.display-notifications-panel{
    right: 0px !important;
}
.notifications-panel-offset{
    right: 400px !important;
}
.z-index-999{
    z-index: 999 !important;
}
.display-clear-all{
    opacity: 1 !important;
    bottom: 15px !important;
}
.noisy{
    background: url('/img/noise.gif') !important;
}
.opacity-0{
    opacity: 0 !important;
}
.new-notification-dot:after{
    content:'';
    background: #d42424;
    position: absolute;
    top: 0; right: 0;
    width: 10px; height: 10px;
    border-radius: 50%;
}
@keyframes flash {
    0%{
        opacity: 0;
        display: block;
        visibility: visible;
    }
    100%{
        opacity: 1;
        display: block;
        visibility: visible;
    }
}
.flash{
    animation: flash 1s ease 1s forwards;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch::before{
  left: 1px;
  text-shadow: -1px 0 red;
  background: white;
  /*animation: noise-anim-2 2s infinite linear alternate-reverse;*/
}
.glitch::after{
  left: -1px;
  text-shadow: -1px 0 blue;
  background: white;
  /*animation: noise-anim 3s infinite linear alternate-reverse;*/
}

.display-error-container{
    opacity: 1 !important;
    bottom: 25px !important;
}
@keyframes noise-anim-alt {
    0% {
      clip: rect(35px 9999px 64px 0);
    }
    5% {
      clip: rect(73px 9999px 52px 0);
    }
    10% {
      clip: rect(43px 9999px 27px 0);
    }
    15% {
      clip: rect(57px 9999px 15px 0);
    }
    20% {
      clip: rect(64px 9999px 93px 0);
    }
    25% {
      clip: rect(60px 9999px 100px 0);
    }
    30% {
      clip: rect(33px 9999px 56px 0);
    }
    35% {
      clip: rect(77px 9999px 56px 0);
    }
    40% {
      clip: rect(54px 9999px 66px 0);
    }
    45% {
      clip: rect(47px 9999px 17px 0);
    }
    50% {
      clip: rect(31px 9999px 27px 0);
    }
    55% {
      clip: rect(99px 9999px 97px 0);
    }
    60% {
      clip: rect(95px 9999px 67px 0);
    }
    65% {
      clip: rect(53px 9999px 36px 0);
    }
    70% {
      clip: rect(19px 9999px 89px 0);
    }
    75% {
      clip: rect(91px 9999px 74px 0);
    }
    80% {
      clip: rect(83px 9999px 76px 0);
    }
    85% {
      clip: rect(55px 9999px 40px 0);
    }
    90% {
      clip: rect(2px 9999px 51px 0);
    }
    95% {
      clip: rect(50px 9999px 98px 0);
    }
    100% {
      clip: rect(80px 9999px 5px 0);
    }
  }
@keyframes noise-anim-alt-2 {
  0% {
     clip: rect(85px 9999px 55px 0);
   }
   5% {
     clip: rect(73px 9999px 72px 0);
   }
   10% {
     clip: rect(77px 9999px 58px 0);
   }
   15% {
     clip: rect(22px 9999px 8px 0);
   }
   20% {
     clip: rect(26px 9999px 98px 0);
   }
   25% {
     clip: rect(98px 9999px 10px 0);
   }
   30% {
     clip: rect(92px 9999px 34px 0);
   }
   35% {
     clip: rect(34px 9999px 68px 0);
   }
   40% {
     clip: rect(74px 9999px 72px 0);
   }
   45% {
     clip: rect(82px 9999px 65px 0);
   }
   50% {
     clip: rect(50px 9999px 31px 0);
   }
   55% {
     clip: rect(73px 9999px 66px 0);
   }
   60% {
     clip: rect(96px 9999px 84px 0);
   }
   65% {
     clip: rect(27px 9999px 21px 0);
   }
   70% {
     clip: rect(15px 9999px 91px 0);
   }
   75% {
     clip: rect(55px 9999px 35px 0);
   }
   80% {
     clip: rect(59px 9999px 9px 0);
   }
   85% {
     clip: rect(21px 9999px 92px 0);
   }
   90% {
     clip: rect(40px 9999px 26px 0);
   }
   95% {
     clip: rect(10px 9999px 28px 0);
   }
   100% {
     clip: rect(19px 9999px 73px 0);
   }
 }
