header{
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: calc(100vw - 14px); height: 55px;*/
  width: 100vw; height: 55px;
  padding: 0; margin: 0;
  background: #1D2633;
  color: #87DBF3;
  border-bottom: 1px solid #1879A8;
  transition: .3s all;
}
  .top-header-search-container{
    width: 100%;
    height: 50px;
  }
  .top-header-button-container{

  }
    header div{
      margin: 0 25px;
    }
    #logo-container{
      position: relative;
     /* top: -10px;*/
     width: 75px;
    }
    #logo{
      border-radius: 4px;

    }
    #logo-container:hover > #logo-text::before{
      text-shadow:1px 0 blue !important;
      animation:noise-anim-alt-2 2s infinite linear alternate-reverse !important;
    }
        #logo-text{
          font-family: courier, sans-serif;
          font-size: 1.8em;
          text-transform: uppercase;
          background: none;
          border: none;
          color: rgba(255, 255, 255, 0.8);
          cursor: pointer;
        }
        /*#logo-text::before{
          content:"ESGI";
          position:absolute;
          top: 36px; left:11px;
          text-shadow:0 0 ;
          color:rgba(255,255,255,0.6);
          background:#1D2633;
          overflow:hidden;
        }
        #logo-text::after{
          content:"ESGI";
          position:absolute;
          top: 36px; left:12px;
          text-shadow:0 0 ;
          color:rgba(255,255,255,0.6);
          background:#1D2633;
          overflow:hidden;
        }*/
        #logo-text:hover::before{
          text-shadow:1px 0 blue !important;
          animation:noise-anim-alt-2 2s infinite linear alternate-reverse !important;
        }
        #logo-text:hover::after{
          text-shadow:-1px 0 red !important;
          animation:noise-anim-alt 2s infinite linear alternate-reverse !important;
        }
        .logo-text-bracket{
          position: relative;
          top: 8px;
          font-family: "Roboto Regular", sans-serif;
          font-size: 1.4em;
          text-transform: uppercase;
          background: none;
          border: none;
          color: rgba(255, 255, 255, 0.8);
          cursor: pointer;
        }
        .logo-text-bracket:first-of-type{
          position: relative;
          left: -2px;
        }
        #logo-subtext{
          position: absolute;
          top: 35px; left: 13.5px;
          font-size:0.5em;
          letter-spacing: 2.5px;
          color: rgba(255, 255, 255, 0.8);
        }
      /*  #logo-subtext::before{
          content:"BRACKETS";
          position:absolute;
          top: 0; left:0;
          text-shadow:0 0 ;
          color:rgba(255,255,255,0.6);
          background:#1D2633;
          overflow:hidden;
          letter-spacing: 2.5px;
        }
        #logo-subtext::after{
          content:"BRACKETS";
          position:absolute;
          top: 0; left:0;
          text-shadow:0 0 ;
          color:rgba(255,255,255,0.6);
          background:#1D2633;
          overflow:hidden;
          letter-spacing: 2.5px;
        }*/

    #search-bar-container{
      width: 100%;
    }
        #search-bar{
          width: 100%;
          background: none;
          border: none;
          border-bottom: 1px solid rgba(135, 219, 243, 0.5);
          color: #87DBF3;
          transition: .2s all;
        }
    .header-icon{
      cursor: pointer;
      color: #87DBF3;
    }
    .notification-card{
        outline: none;
    }
            #notifications-button-container{
                position: relative;
            }
            #notification-icon{

            }
    #filter-icon{
        color: #87DBF3;
    }
    #dropdown-options-container{
      position: absolute;
      top: 50px; right: 0;
      background: white;
      border-radius: 5px;
      padding: 10px;
      opacity: 0;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
        #dropdown-options-container ul{
          margin: 0; padding: 0;
        }

            #dropdown-options-container li{
              list-style: none;
              margin: 5px 0;
            }

@media only screen and (max-width: 600px) {
  header{
    width: 100%;
    height: 90px;
    flex-direction: column !important;
  }
  header div{
    margin: 0 10px !important;
  }
  .top-header-button-container{
    width: 100%;
    justify-content: space-around !important;
  }
}
