@font-face {
    font-family: "Roboto Regular";
    src: url("/fonts/roboto/Roboto-Regular.woff2");
}

@font-face {
    font-family: "Roboto Light";
    src: url("/fonts/roboto/Roboto-Light.woff2");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/fonts/roboto/Roboto-Bold.woff2");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("/fonts/roboto/Roboto-Thin.woff2");
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    max-width: 100% !important;
}

#grey-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: .3s all;
}

.score-display {
    margin: 15px 0;
}

.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.class-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.page-anchor {
    position: relative;
    width: 100%;
}

.page-anchor-title {
    position: relative;
    /*top: -65px;*/
    height: 50px;
    width: 98vw;
    color: #7ca6b4;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.loaded-page-anchor {
    padding-top: 65px;
}

.scroll-trigger {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.rarity-0 {}

.rarity-1 {
    color: #2846E7;
    /*font-weight: bold;*/
}

.rarity-2 {
    color: #FFAD06;
    /*font-weight: bold;*/
}

.rarity-3 {
    color: #BF00A8;
    /*font-weight: bold;*/
}

.rarity-4 {
    color: #149C00;
    /*font-weight: bold;*/
}

.rarity-5 {
    color: #F52525;
    /*font-weight: bold;*/
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #eee;
    z-index: 0 !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-container {
    position: relative;
    width: 100vw;
    height: 100%;
    opacity: 1;
    right: 0;
    transform: scale(1);
    transition: .3s all;
}

.toast-notification-icon {
    margin-right: 15px;
}

.material-icons {
    transition: .2s all;
}

.material-icons:active {
    transform: scale(0.85);
    transition: .2s all;
}

.header-icon:hover {
    color: #dbf3f9 !important;
    transition: .2s all;
}


/** Materialize excerpts **/

#toast-container {
    display: block;
    position: fixed;
    z-index: 999;
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: 5%;
        right: 1%;
        max-width: 86%;
    }
}

.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #323232;
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
}

.toast .toast-action {
    color: #eeff41;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
}

.toast.rounded {
    border-radius: 24px;
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 100%;
        border-radius: 0;
    }
}
