#notifications-panel-container{
    position: fixed;
    width: 400px; height: 100%;
    top: 0; right: -400px;
    background: rgb(13, 19, 28);
    -webkit-box-shadow: inset 10px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 10px 0px 5px 0px rgba(0,0,0,0.4);
    transition: .3s all;
    z-index: 999;
}
        #notification-back{
            display: none;
        }
        #notifications-panel{
            flex-direction: column;
            justify-content: flex-start;
            padding: 15px 15px 0 15px;
        }
                .notification-card-container{
                    min-width: 100%;
                }
                        .notification-card{
                            position: relative;
                            background: white;
                            min-width: 100%;
                            padding: 15px 20px; margin: 0 0 10px 0;
                            border-radius: 4px;
                            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        }
                                .notification-color{
                                    position: absolute;
                                    left: 0; top: 0;
                                    border-top-left-radius: 4px;
                                    border-bottom-left-radius: 4px;
                                    width: 10px; height: 100%;
                                }
                                .notification-top-container{
                                    justify-content: space-between;
                                }
                                        .notification-date-container{
                                            position: absolute;
                                            top: 0; left: 0;
                                            margin: 0; padding: 5px 0 0 20px;
                                        }
                                                .notification-date{
                                                    margin: 0; padding: 0;
                                                    color: grey;
                                                }
                                        .notification-close-icon{
                                            top: 0 !important; right: 0 !important;
                                            margin: 0; padding: 2px 4px 0 0;
                                            color: rgba(13, 19, 28, 0.8);
                                        }
                                .notification-text{
                                    margin: 0; padding-top: 15px;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 14px;
                                    color: rgba(0, 0, 0, 0.8);
                                }
        #clear-all-container{
            position: fixed;
            bottom: 0; right: 10px;
            opacity: 0;
            width: 100%;
            justify-content: flex-end;
            color: rgba(135, 219, 243, 0.8);
            transition: .2s all .3s;
        }
                #clear-all-text{
                    position: absolute;
                    margin: 0 5px 0 0; padding: 0;
                    bottom: 5px; right: 15px;
                    font-size: 14px;
                    cursor: pointer;
                }
                #clear-all-icon{
                    position: relative;
                    top: 6px;
                }
#no-notifications-container{

}
        #no-notifications{
            color: rgba(135, 219, 243, 0.8);
            font-family: 'Roboto Thin';
        }

@media only screen and (max-width: 600px) {
    #notification-back{
        display: block;
        position: relative;
        float: right;
        top: 5px; right: 5px;
        color: rgba(135, 219, 243, 0.8);
        cursor: pointer;
    }
    #notifications-panel-container{
        width: 100vw !important;
    }
    #no-notifications{
        font-size: 1em;
    }
}
