#page-number-container{
    position: relative;
    bottom: 0; left: 0;
    width: 100%; height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .page-number-box{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4a6574;
        padding: 5px 10px;
        margin:0  2px;
        cursor: pointer;
    }
    .page-number-box:hover{
        background: #E4E4E4;
    }
    .current-page-number{
        border: 1px solid #a0afb7;
    }
