a{
    color: #333;
}
.active-tab{
    background: #eee !important;
}
#main-inner-container{
    background: rgba(255,255,255, 0.8);
    width: 80%;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 0 0 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex-direction: column !important;
}
        .profile-identity{
            position: relative;
            left: -15px;
            width: 10vw;
            padding-left: 22px;
        }
        #tabs-container{
            width: 100%; height: 100%;
        }
                #tab-head-container{
                    justify-content: flex-start !important;
                    padding: 0; margin: 0;
                }
                        .tab-head-label{
                            list-style: none;
                            padding: 10px;
                            width: 150px;
                            background: #FBFBFB;
                            border-right: 1px solid #eee;
                            cursor: pointer;
                        }
                        .tab-head-label:last-of-type{
                            border-right: none;
                        }
                .tab{
                    display: none;
                    columns: 5 350px;
                    column-gap: 20px;
                    column-span: none;
                    width: 100%;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    /*background: rgba(29, 38, 51, 0.2);
                    -webkit-box-shadow: inset 0px 0px 12px -4px rgba(0,0,0,0.75);
                    -moz-box-shadow: inset 0px 0px 12px -4px rgba(0,0,0,0.75);
                    box-shadow: inset 0px 0px 12px -4px rgba(0,0,0,0.75);*/
                }
                        .card-container{
                            min-width: auto !important;
                        }
                                .score-display{
                                    margin: 15px 0;
                                }
                #tab-1{
                    display: table;
                }
                        .tab-list-container{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: column;
                            width: 100%;
                            padding: 10px;
                        }
                #tab-3 > .tab-list-container{
                    display: flex !important;
                    justify-content: center;
                }
                                #role-list-container{
                                    display: flex;
                                    width: 100%;
                                }
                                        .role-container{
                                            flex-direction: column;
                                            justify-content: center;
                                            margin: 15px 5px; padding: 5px;
                                            border: 1px solid #eee;
                                            border-radius: 4px;
                                            cursor: pointer;
                                        }
                                        .role-container p{
                                            margin:0;
                                        }
                                        .role-container:hover{
                                            border: 1px solid orange;
                                        }

@media only screen and (max-width: 600px) {
    #tab-head-container{
        margin: 15px 0 0 0;
        overflow-x: scroll;
    }
    #role-list-container{
        width: 100% !important;
    }
    .tab-list-container{

    }
    .card-body-container{

    }
}
