<div class="card-list-header flex-center">
    <div class="card-list-header-text">

        <% if ( typeof(noResults) !== 'undefined' && (noResults) ){
          sortModeDisplay = "Aucun résultat";
         } %>

        <p><%= sortModeDisplay %></p>
    </div>
    <div class="card-list-header-selector-container flex-center">
        <p>Trier par : </p>
        <a href="/front/all/0" class="sort-mode <% if(sortMode === "all") { %> selected-sort-mode <% } %>">Plus récent</a>
        <a href="/front/vote/0" class="sort-mode <% if(sortMode === "vote") { %> selected-sort-mode <% } %>">Plus de votes (thread)</a>
        <!--<a href="https://esgi-brackets.fr/by/votedReply">Vote commentaire</a>-->
        <a href="/front/best/0" class="sort-mode <% if(sortMode === "best") { %> selected-sort-mode <% } %>">Meilleur</a>
    </div>
</div>
<%
let i = 0;
let j = 0;

    for (i = 0; i < dataLength; i++) {
      if ( (data[i].is_deleted) ) continue;
         %>

    <div class="card-container <% if ( (data[i].is_closed) ) { %> locked <% } %>" id="<%= data[i].id %>">
        <div class="animation-container">
            <div class="category-container flex-center">
                <% if ( (isMod) ) { %>
                 <i class="material-icons mod-tool-icon delete-thread-icon" title="Supprimer">delete_forever</i>
                 <i class="material-icons mod-tool-icon lock-thread-icon" title="Verouiller">lock</i>
                <!-- <i class="material-icons mod-tool-icon edit-thread-icon" title="Éditer">create</i> -->
                <% } %>
                <% if ( (data[i].is_validated) ) { %>
                <div class="validated-label-container flex-center">
                    <div class="validated-label-icon">
                        <i class="material-icons" title="Réponse trouvée">done_all</i>
                    </div>
                </div>
            <% } %>
            <% if ( (data[i].is_closed) ) { %>
            <div class="lock-label-container flex-center">
                <div class="lock-label-icon">
                     <i class="material-icons" title="Verouillé">lock</i>
                </div>
            </div>
            <% } %>
            </div>
            <div class="card-body-container flex-center">
                <div class="aligned-container">
                    <div class="vote-container flex-center">
                        <i class="material-icons upvote <% if (data[i].voteTypeThread === 'upvote'){%> voted <% } %>" title="Haut vote">keyboard_arrow_up</i>
                        <p class="score-display" title="Score"><%= data[i].score %></p>
                        <i class="material-icons downvote <% if (data[i].voteTypeThread === 'downvote'){%> voted <% } %>" title="Bas vote">keyboard_arrow_down</i>
                    </div>
                </div>
                <div class="current-state-container flex-center">
                    <div class="current-state-answers-container">
                        <p class="current-state-answers flex-center-column" title="Nombre de réponses"><b><%= data[i].answerCount %></b> réponses</p>
                    </div>
                    <div class="separator"></div>
                    <div class="current-state-vote-container">
                        <p class="current-state-vote flex-center-column" title="Nombre de votes"><b><%= data[i].voteCount %></b> votes</p>
                    </div>
                </div>

                <div class="top-card-container flex-center">
                    <div class="title-container">
                        <a href="/thread/<%= data[i].id %>/0" class="title"><%= data[i].title %></a>
                        <div class="category-link-container">
                            <a class="category-link" href="/c/<%= data[i].category %>/all/0" title="Catgorie"><%= data[i].category %></a>
                        </div>
                    </div>
                </div>

                <div class="aligned-container flex-center">
                    <div class="options-container flex-center">
                        <div class="options-icon-container flex-center align-subicon">
                            <i class="material-icons options-add-icon" title="S'abonner">add</i>
                            <i class="material-icons options-follow-icon" title="S'abonner"><% if(data[i].isSub){ %> turned_in <% }else{ %> turned_in_not <% } %></i>
                           <!-- <img src="/img/icons/bookmark_<% if(data[i].isSub){ %>full<% }else{ %>empty<% } %>.png" class="options-follow-icon" alt="bookmark-icon"> -->
                        </div>
                        <div class="options-icon-container flex-center">
                            <i class="material-icons options-star-icon" title="Mettre en favoris"><% if(data[i].isFav){ %> star <% }else{ %> star_border <% } %></i>
                            <!-- <img src="/img/icons/star_<% if(data[i].isFav){ %>full<% }else{ %>empty<% } %>.png" class="options-star-icon" alt="favorite-icon"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% } %>
