<%
let i = 0;
let j = 0;

    for (i = 0; i < dataLength; i++) {
      if ( (data[i].is_deleted) ) continue;
         %>

<div class="card-container flex-center <% if ( (data[i].is_closed) ) { %> locked <% } %>" id="<%= data[i].id %>">
    <div class="animation-container">
        <div class="category-container flex-center">
            <a class="category-link" href="/c/<%= data[i].category %>"><%= data[i].category %></a>
            <% if ( (isMod) ) { %>
             <i class="material-icons mod-tool-icon delete-thread-icon">delete_forever</i>
             <i class="material-icons mod-tool-icon lock-thread-icon">lock</i>
            <!-- <img src="/img/icons/<% if ( (data[i].is_closed) ) { %>locked<% } else { %>unlocked<% } %>.png" class="mod-tool-icon lock-thread-icon" alt="locked-icon">-->
            <!-- <img src="/img/icons/trash.png" class="mod-tool-icon lock-thread-icon" alt="locked-icon">-->
            <!-- <i class="material-icons mod-tool-icon edit-thread-icon">create</i> -->
            <% } %>
            <% if ( (data[i].is_validated) ) { %>
            <div class="validated-label-container flex-center">
                <div class="validated-label-icon">
                    <i class="material-icons">done_all</i>
                </div>
            </div>
        <% } %>
        <% if ( (data[i].is_closed) ) { %>
        <div class="lock-label-container flex-center">
            <div class="lock-label-icon">
                 <i class="material-icons">lock</i>
                <!--<img src="/img/icons/locked.png" class="mod-tool-icon lock-thread-icon" alt="locked-icon">-->
            </div>
        </div>
        <% } %>
        </div>
        <div class="card-body-container">
            <div class="vote-container flex-center">
                <i class="material-icons upvote <% if (data[i].voteTypeThread === 'upvote'){%> voted <% } %>">keyboard_arrow_up</i>
                <p class="score-display"><%= data[i].score %></p>
                <i class="material-icons downvote <% if (data[i].voteTypeThread === 'downvote'){%> voted <% } %>">keyboard_arrow_down</i>
            </div>

            <div class="top-card-container flex-center">
                <div class="title-container">
                    <a href="/thread/<%= data[i].id %>" class="title"><%= data[i].title %></a>
                </div>
            </div>
            <div class="current-state-container flex-center">
                <div class="current-state-answers-container flex-center">
                    <p class="current-state-answers"><%= data[i].answerCount %></p>
                    <p>réponses</p>
                </div>
                <div class="separator"></div>
                <div class="current-state-vote-container flex-center">
                    <p class="current-state-vote"><%= data[i].voteCount %></p>
                    <p>votes</p>
                </div>
            </div>
            <div class="options-container flex-center">
                <div class="options-icon-container flex-center">
                    <i class="material-icons options-add-icon">add</i>
                    <i class="material-icons options-follow-icon"><% if(data[i].isSub){ %> turned_in <% }else{ %> turned_in_not <% } %></i>
                   <!-- <img src="/img/icons/bookmark_<% if(data[i].isSub){ %>full<% }else{ %>empty<% } %>.png" class="options-follow-icon" alt="bookmark-icon"> -->
                </div>
                <div class="options-icon-container flex-center">
                    <i class="material-icons options-star-icon"><% if(data[i].isFav){ %> star <% }else{ %> star_border <% } %></i>
                    <!-- <img src="/img/icons/star_<% if(data[i].isFav){ %>full<% }else{ %>empty<% } %>.png" class="options-star-icon" alt="favorite-icon"> -->
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
