<h3 class="block-header">Langages</h3>
<div id="language-block" class="column-5-layout">
<%
let i = 0;
    for (i = 1; i < categories.languages.length; i++) {
         %>
<a href="/c/<%= categories.languages[i] %>/all/0">
  <div class="card-container flex-center">
     <div class="top-card-container flex-center">
         <div class="title-container">
             <p class="title"><%= categories.languages[i] %></p>
         </div>
     </div>
   </div>
</a>
<%
}
%>
</div>

<h3 class="block-header">Frameworks</h3>
<div id="frameworks-block" class="column-5-layout">
<% i = 0;
    for (i = 0; i < categories.frameworks.length; i++) {
%>
<a href="/c/<%= categories.frameworks[i] %>/all/0">
  <div class="card-container flex-center">
      <div class="top-card-container flex-center">
          <div class="title-container">
              <p class="title"><%= categories.frameworks[i] %></p>
          </div>
      </div>
  </div>
</a>
<%
}
%>
</div>

<h3 class="block-header">Sujets</h3>
<div id="subjects-block" class="column-5-layout">
<% i = 0;
    for (i = 0; i < categories.subjects.length; i++) {
         %>
<a href="/c/<%= categories.subjects[i] %>/all/0">
 <div class="card-container flex-center">
     <div class="top-card-container flex-center">
         <div class="title-container">
             <p class="title"><%= categories.subjects[i] %></p>
         </div>
     </div>
 </div>
</a>
<%
}
%>
</div>
