<div id="main-container" class="page-out flex-center">
    <div id="define-password-container" class="flex-center-column">
        <div id="rules-container">
            <h2>Règles concernant l'utilisation du forum</h2>
            <h4>Dans l'intérêt de tous les membres du forum, nous vous demandons de respecter quelques règles simples. Ces règles sont celles du bon sens, du respect et de la courtoisie. Que ce soit les règles d'or, qui permettent rapidement de se rappeler les points essentiels, ou les règles générales, celles-ci ne sont pas exhaustives et peuvent évoluer.</h4>
            <p> - N'oubliez pas de dire bonjour / svp / merci</p>
            <p> - N'écrivez pas en majuscule, n'utilisez pas le sms et les abréviations, soignez la mise en page de votre message</p>
            <p> - Ne postez pas votre message en plusieurs exemplaires</p>
            <p> - Il ne sera pas donné suite aux sujets traitant de piratage et d'utilisation du p2p (emule, limewire, shareaza, bittorrent etc...). Ils seront systématiquement fermés et des sanctions peuvent être mises en place</p>
            <p> - Le forum n'est pas un "chat", les réponses ne sont pas instantanées, lisez ces instructions avant de remonter un sujet</p>
            <p> - Pensez à renseigner votre configuration lors de la rédaction de votre sujet</p>
            <p> - Les modifications et manipulations proposées le sont dans le cadre de discussions d'entraide entre utilisateurs. Nous ne pouvons garantir l'efficacité ou la non dangerosité des conseils proposés par les utilisateurs du forum et vous êtes
                seul responsable des modifications que vous décidez d'apporter à votre système ou matériel. Il est fortement conseillé de sauvegarder vos données avant toute manipulation</p>
            <h4>En ce qui concerne la rédaction des sujets :</h4>
            <p> - Les titres et descriptions des messages doivent être explicites et ne pas comporter d'exclamations excessives du type "aidez-moi !", "help !", etc</p>
            <p> - Faites une recherche sur le site avant de poser votre question afin d'éviter les questions dupliquées</p>
            <p> - Les contributions contraires aux bons usages (racisme, pornographie, atteinte à la vie privée, injures, liens vers des sites (ou photos) à caractère pornographique etc.) seront supprimés et des sanctions seront mises en place</p>
            <p> - Les messages jugés sensibles (à caractère politique, religieux... etc) pourront être supprimés pour éviter d'éventuels conflits. Des sanctions seront mises en place</p>
            <h4>En ce qui concerne le savoir vivre :</h4>
            <p> - Certains membres possèdent forcément plus de connaissances que d'autres sur l'informatique ou sur l'utilisation d'un espace de discussions. La bienveillance est le mot d'ordre du forum ; aucun manque de respect à l'égard d'un membre du forum
                ou de l'équipe de modération ne sera toléré</p>
            <p> - Gardez à l'esprit que les messages écrits, même avec humour, peuvent parfois prendre un sens plus fort que celui qu'on a voulu leur prêter</p>
            <p> - Comme sur la plupart des forums, le tutoiement est utilisé par la plupart des étudiants mais chaque membre choisira ce qu'il lui convient d'utiliser sans l'imposer aux autres</p>
            <h4>En ce qui concerne l'équipe de modération :</h4>
            <p> - L'administrateur et les modérateurs ne sont pas responsable du contenu des messages postés par les utilisateurs du forum. Les sujets des utilisateurs sont contrôlés régulièrement mais pas exhaustivement (modération à posteriori)</p>
            <p> - Chaque membre de la communauté peut (et doit) signaler tout message enfreignant une règle grave (messages qui nécessitent une modération urgente) en contactant l'un des membre du staff</p>
            <p> - Il est possible de contacter la modération via l'adresse email <b>moderation.brackets@gmail.com</b> ou via le bouton "Signaler" présent sur chacun des posts</p>
        </div>
        <div id="cgu-checkbox-container" class="flex-center">
            <div id="cgu-inline-container">
                <input type="checkbox" id="cgu-checkbox">
                <label for="cgu-checkbox">Je m'engage à respecter les règles d'utilisation du forum (obligatoire)</label>
            </div>
            <p id="error-text-4" class="error-text">Vous devez accepter les règles d'utilisation du forum pour y participer</p>
        </div>
        <div id="define-password-card" class="flex-center">
            <h3 id="define-password-title">Veuillez définir votre mot de passe</h3>
            <form id="define-password-form" class="flex-center">
                <input type="hidden" id="define-password-token" name="" value="<%= userData.token %>">
                <label>Mot de passe</label>
                <p id="error-text-5" class="error-text">Votre mot de passe doit comporter au minimum 8 caractères dont 1 chiffre</p>
                <input type="password" id="define-password-pwd" placeholder="Mot de passe">
                <label>Confirmation</label>
                <p id="error-text-6" class="error-text">Les deux mots de passes ne sont pas identiques</p>
                <input type="password" id="define-password-confirm-pwd" placeholder="Confirmation">
                <input type="button" id="define-password-button" name="" value="Valider">
            </form>
        </div>
    </div>
</div>
