
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/js/lib/markdown-it.js"></script>
    <script src="/js/lib/sanitize-html.min.js"></script>
    <script src="/js/lib/to-markdown.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      // DEFINE SOCKET
      //let socket = io.connect("https://esgi-brackets.fr", { secure: true } );
      let socket = io.connect("localhost:8080", { secure: true } );
    </script>
    <script src="/js/lib/materialize.min.js"></script>
    <script src="/js/global/building-blocks.js"></script>
    <script src="/js/global/utility.js"></script>
    <script src="/js/global/animations.js"></script>
    <script src="/js/global/main-events.js"></script>
    <script src="/js/global/header-events.js"></script>
