<header>
    <div class="top-header-search-container flex-center">
        <a href="/"><div id="logo-container"  title="Accueil">
          <a href="/"><img src="/img/esgi_under_full.png" alt="logo" id="logo"></a>
            <!--<p id="logo-text"><span class="logo-text-bracket">{</span>ESGI<span class="logo-text-bracket">}</span></p>
            <p id="logo-subtext">BRACKETS</p></a>-->
        </div>
        <div id="search-bar-container">
            <input type="text" name="search-bar" value="" placeholder="Rechercher" id="search-bar"  title="Rechercher">
        </div>
    </div>
    <div class="top-header-button-container flex-center">
      <div id="filter-button-container">
        <a href="/c" title="Categories"><i class="material-icons header-icon" id="filter-icon">filter_list</i></a>
      </div>
      <div id="notifications-button-container">
        <%
        let notifIcon = '';
        if(notifLength > 0){
            notifIcon = 'new-notification-dot';
        } %>
        <i class="material-icons header-icon <%= notifIcon %>" id="notification-icon" title="Notifications">notifications_none</i>
        <!--<img src="/img/icons/bell_empty.png" class="header-icon" id="notification-icon" alt="notification-icon">-->
      </div>
      <div id="profile-button-container">
          <a href="/profile/<%= currentUser %>"  title="Profil"><i class="material-icons header-icon">person_outline</i></a>
      </div>
      <div id="disconnect-button-container">
          <a href="/disconnect"  title="Déconnexion"><i class="material-icons header-icon">last_page</i></a>
      </div>
    </div>
</header>
