<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/img/favicon/manifest.json">
    <link rel="mask-icon" href="/public/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/public/img/favicon/favicon.ico">
    <meta name="msapplication-config" content="/public/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title><%= title %></title>
    <link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/css/global/animations.css' />
    <link rel='stylesheet' href='/css/global/header.css' />
    <link rel='stylesheet' href='/css/global/main.css' />
    <link rel='stylesheet' href='/css/global/notifications.css' />
    <link rel='stylesheet' href='/css/lib/jquery-ui.css' />
    <link rel='stylesheet' href='/css/lib/jquery-ui.structure.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
