<section id="new-thread-container" class="flex-center page-out">
    <div id="new-thread-body-container" class="flex-center">
        <div id="new-thread-top-container" class="flex-center">
            <p id="new-thread-title">Nouveau sujet</p>
            <i class="material-icons close-icon" id="new-thread-close">close</i>
        </div>
        <div id="new-thread-form-container">
            <form id="new-thread-form" method="post" class="flex-center">
                <input type="text" id="new-thread-name-input" placeholder="Sujet" required="required" name="threadTitle" value="">
                <span id="error-text-1" class="error-text">Ce champ est requis</span>
                <textarea id="new-thread-textarea" rows="8" cols="80" required="required" name="threadText" placeholder="Description"></textarea>
                <span id="error-text-2" class="error-text">Ce champ est requis</span>
                <div id="warning-container">
                    <p>Attention : une fois posté, il sera impossible d'apporter des modifications au sujet.</p>
                </div>
                <div id="categories-container" class="flex-center">
                    <label for="">Catégories : </label>
                    <select id="categories-dropdown" required="required" name="CatDropdown">
                        <optgroup label="Langages">
                            <% categories.languages.forEach( (el) => { %>
                            <option value="<%= el %>"><%= el %></option>
                            <% }) %>
                        </optgroup>
                        <optgroup label="Frameworks">
                            <% categories.frameworks.forEach( (el) => { %>
                            <option value="<%= el %>"><%= el %></option>
                            <% }) %>
                        </optgroup>
                        <optgroup label="Thèmes">
                            <% categories.subjects.forEach( (el) => { %>
                            <option value="<%= el %>"><%= el %></option>
                            <% }) %>
                        </optgroup>
                    </select>
                    <span id="error-text-3" class="error-text">Ce champ est requis</span>
                    <button id="new-thread-button" name="new-thread-button">Envoyer</button>
                </div>
            </form>
        </div>
        <div id="preview-box-container">
            <div id="top-preview-container" class="flex-center">
                <div id="preview-label-container">
                  <h3 id="preview-label">Prévisualisation</h3>
                 <i class="material-icons" id="refresh-preview" title="Raffraîchir">refresh</i>
                </div>
                <a id="md-cheatsheet" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="no-page-out" target="_blank">Markdown CheatSheet</a>
            </div>
          <div id="preview">
            <p id="preview-text"><span id="preview-placeholder">Vide</span></p>
          </div>
        </div>
    </div>
</section>
