<% include grey-overlay.ejs %>
<div id="notifications-panel-container">
    <div id="notification-back">
        <i class="material-icons">clear</i>
    </div>
    <div id="notifications-panel" class="flex-center">
<%
if (notifLength > 0){
let i = 0;

    for (i = 0; i < notifLength; i++) {
      if ( (notifications[i].is_read) ) continue;

      let notificationColor = "green";

      if (notifications[i].type === "mention"){
          notificationColor = "#F2E200";
      }
         %>
         <a href="<%= notifications[i].href %>" class="notification-card-container">
           <div id="<%= notifications[i].id %>" class="notification-card">
               <div class="notification-content-container">
                   <div class="notification-color" style="background: <%= notificationColor %>"></div>
                   <div class="notification-top-container flex-center">
                       <div class="notification-date-container">
                           <p class="notification-date"><%= notifications[i].created %></p>
                       </div>
                       <div class="notification-close-icon-container">
                           <i class="material-icons close-icon notification-close-icon">close</i>
                       </div>
                   </div>
                   <div class="notification-text"><%= notifications[i].content %></div>
               </div>
           </div>
         </a>
<% }
}else{
    %>
    <div id="no-notifications-container">
         <h1 id="no-notifications">AUCUNE NOTIFICATONS</h1>
    </div>
<% } %>
    </div>
</div>
<div id="clear-all-container" class="flex-center">
    <p id="clear-all-text">TOUT EFFACER <i class="material-icons" id="clear-all-icon">clear_all</i></p>
</div>
