<section id="main-container" class="flex-center page-out">
  <div id="thread-container" <% if (threadData.is_closed) { %> class="locked" <% } %>>
    <div id="original-post" <% if (opData.is_admin) { %> class="highlight-admin-post" <% } %>>
      <div id="op-title-container">
        <h2 id="op-title"><%= threadData.title %></h2>
        <% if ( (isMod) ){ %>
          <div class="mod-lock-container flex-center <% if (threadData.is_closed) { %> locked-button <% } %>">
            <i class="material-icons mod-tool-icon lock-thread-icon">lock</i>
            <p class="mod-lock-text">Verrouiller</p>
          </div>
        <% } %>
      </div>
      <div id="op-content-container" class="flex-center">
        <div class="vote-container flex-center">
            <i class="material-icons thread-upvote <% if (threadData.voteTypeThread === 'upvote'){%> voted <% } %>" title="Haut vote">keyboard_arrow_up</i>
            <p class="score-display" title="Score"><%= threadData.score %></p>
            <i class="material-icons thread-downvote <% if (threadData.voteTypeThread === 'downvote'){%> voted <% } %>" title="Bas vote">keyboard_arrow_down</i>
        </div>
        <div class="identity-container">
          <div class="identity">
            <p class="member-name"><%= opData.pseudo %></p>
            <div class="member-subtitle-container">
              <% if (opData.is_banned){ %>
                <img src="/img/bannis.gif" class="member-icon">
                <p class="member-role rarity-5">Banni</p>
              <% } else { %>
                <img src="<% if (opData.is_deleted) { %>/img/death.gif<% } else { %> <%= opData.icon %> <% } %>" class="member-icon">
                <p class="member-role rarity-<%= opData.role_rarity %>"><%= opData.role_title %></p>
              <% } %>
            </div>
            <div id="op-class-container" class="flex-center">
              <!-- <img class="class-icon" src="<%= // opData.classIcon %>" alt="class-icon"> -->
              <p id="op-class-name" title="Titre"><%= opData.className %></p>
            </div>
            <p class="member-stats" title="Points du membre"><%= opData.score %> points</p>
          </div>
        </div>
        <div id="op-description-container" class="flex-center">
          <div id="op-description"><%- threadData.description %></div>
        </div>
      </div>
      <div class="op-post-stats">
        <% if (threadData.edited > 0) { %>
          <div class="edited-container">
            <p class="edited">Édité <%= threadData.edited %> fois</p>
          </div>
        <%
        }
        %>
        <div class="created-container">
          <p class="created">Créé le <%= threadData.created %></p>
        </div>
      </div>

    </div>
