<div id="page-number-container">
    <%
    // Security
    if (sortMode === undefined) {
        sortMode = "all";
    }

    let baseUrl = (category === undefined) ? "front/" + sortMode : "c/"+category+"/"+sortMode+"/" ;

    let pageStart = (page - 2 < 0) ? 0 : page - 2;
    let pageStop = (page + 2 > maxPage) ? maxPage : page + 2;

    if (pageStart > 0) { %>
        <a href="/<%= baseUrl %>/<%= pageStart - 1 %>" class="page-number-box" id="more-page-box">
            <span id="more-page-dots">...</span>
        </a>
    <% }

    for (let i = pageStart; i < pageStop; i++) {
        %>
        <a href="/<%= baseUrl %>/<%= i %>" class="page-number-box <% if (i === page) { %> current-page-number <% } %>">
            <span><%= i %></span>
        </a>
         <%
    }

    if (pageStop < maxPage) { %>
        <a href="/<%= baseUrl %>/<%= pageStop + 1 %>" class="page-number-box" id="more-page-box">
            <span id="more-page-dots">...</span>
        </a>
    <% } %>
</div>
