<%
let i = 0;
    for (i = 0; i < postQuantity; i++) {
         %>
<div class="post-container <% if (messagesData[i].is_chosen) { %> highlight-validated-post <% } else if (usersData[i].is_admin) { %> highlight-admin-post <% } %>" id="<%= messagesData[i].id %>">
  <div class="flex-center post-content-container">
    <div class="vote-container flex-center">
        <i class="material-icons upvote <% if (usersData[i].voteTypeMessage === 'upvote'){%> voted <% } %>">keyboard_arrow_up</i>
        <p class="score-display"><%= messagesData[i].score %></p>
        <i class="material-icons downvote <% if (usersData[i].voteTypeMessage === 'downvote'){%> voted <% } %>">keyboard_arrow_down</i>
    </div>
    <div class="identity">
            <p class="member-name"><%= usersData[i].pseudo %></p>
        <div class="member-subtitle-container">
            <% if (usersData[i].is_banned){ %>
                <img src="/img/bannis.gif>" class="member-icon">
                <p class="member-role rarity-5">Banni</p>
            <% } else { %>
                <img src="<%= usersData[i].icon %>" class="member-icon">
                <p class="member-role rarity-<%= usersData[i].role_rarity %>"><%= usersData[i].role_title %></p>
            <% } %>
        </div>
        <div class="member-class-container flex-center">
            <!-- <img class="class-icon" src="<%= //usersData[i].classIcon %>" alt="class-icon"> -->
            <p class="member-class-name"><%= usersData[i].className %></p>
        </div>
      <p class="member-stats"><%= usersData[i].score %> points</p>
    </div>
    <div class="post-response-container">
        <div class="post-response"><%- messagesData[i].text %></div>
    </div>
      <div class="post-stats">
        <div class="report-container">
            <p class="report-button">Signaler</p>
        </div>
        <div class="created-container">
          <p class="created"><%= messagesData[i].created %></p>
        </div>
      </div>
  </div>
      <div class="bottom-reply-container">
          <% if ( (currentUser === usersData[i].pseudo) || (isMod) ) { %>
              <div class="edit-button-container">
                  <p class="edit-button">Edit</p>
              </div>
          <%
          }
          %>
          <% if ( !(threadData.is_validated) && (usersData[i].pseudo !== opData.pseudo) && (username === opData.pseudo)) { %>
          <div class="valid-button-container">
              <button type="button" class="valid-reply-button" name="valid-reply-button">Choisir cette réponse</button>
          </div>
          <% } %>
          <% if (messagesData[i].edited > 0) { %>
          <div class="edited-container">
            <p class="edited">Dernière édition le <%= messagesData[i].last_modified %></p>
          </div>
          <%
          }
          %>

      </div>


  </div>
  <%
  }
  %>
