<div id="role-list-container" class="flex-center">
    <%
    let i = 0;
    console.log(userRolesData);
    if(userRolesDataLength === -1 || userRolesDataLength === 0){
        %>
        <div id="empty-roles">
            <p>Aucune distinction débloquée pour le moment</p>
        </div>
<% }else{
      for (i = 0; i < userRolesDataLength; i++) { %>

%>
    <div class="role-container flex-center" id="<%= userRolesData[i].role_id %>">
        <img src="<%= rolesData[userRolesData[i].role_id].icon %>" alt="<%= rolesData[userRolesData[i].role_id].title %>">
        <p class="role-title rarity-<%= rolesData[userRolesData[i].role_id].rarity %>"><%= rolesData[userRolesData[i].role_id].title %></p>
    </div>
<%   }
 } %>


</div>
