<div id="rules-container" class="flex-center">
    <div id="rules-collapse-button-container" class="flex-center-column">
        <div class="rules-collapse-button flex-center-column">
            <i id="rules-container-arrow" class="material-icons">keyboard_arrow_left</i>
        </div>
    </div>
    <div id="rules-header">
        <ol id="rules-content">
                <li><b>Le manque de respect envers les autres membres du forum n'est pas toléré.</b>
                <li>Les messages jugés sensibles (à caractères politique, religieux, etc) seront <b>systématiquement modérés</b>
                <li>Toutes les contributions contraires aux bons usages (racisme, pornographie, atteinte à la vie privée, injures, liens vers des sites (ou photos) à caractère pornographique, etc) seront <b>systématiquement supprimés.</b> Des sanctions seront mise en place.
                <li><b>Recherchez si la question n'a pas déjà été posée.</b>
                <li><b>Les titres doivent être descriptifs :</b> ils ne doivent pas comporter d'exclamation excessive ("aidez-moi!", "help!", etc).
                <li><b>Donnez des informations concernant votre problème :</b> configuration utilisée, environnement de développement, version du langage....
                <li><b>Il est demandé à tous les membres de signaler tous messages contraires aux règles du forum.</b>
                <li> Il est possible de contacter la modération via l'adresse email <b>moderation.brackets@gmail.com</b> et de signaler un post via le bouton "Signaler" présent sur chacun d'eux.
        </ol>
    </div>
</div>
