<%
let i = 0;
let j = 0;

    for (i = 0; i < subsQuantity; i++) {
        console.log(subsCardData[i].is_active,subsCardData[i].title);
        if ( !(subsCardData[i].is_active) || (subsCardData[i].is_deleted) ) continue;
         %>

    <div class="card-container flex-center" id="<%= subsCardData[i].thread_id %>">
        <div class="category-container flex-center">
            <% if (subsCardData[i].is_validated === 1) { %>
            <div class="validated-label-container flex-center">
                <div class="validated-label-icon">
                    <i class="material-icons">done_all</i>
                </div>
            </div>
        <% } %>
        </div>
        <div class="card-body-container flex-center">
            <div class="aligned-container">
                <div class="vote-container flex-center">
                    <i class="material-icons upvote <% if (subsCardData[i].voteTypeThread === 'upvote'){%> voted <% } %>">keyboard_arrow_up</i>
                    <p class="score-display"><%= subsCardData[i].score %></p>
                    <i class="material-icons downvote <% if (subsCardData[i].voteTypeThread === 'downvote'){%> voted <% } %>">keyboard_arrow_down</i>
                </div>
            </div>
            <div class="current-state-container flex-center">
                <div class="current-state-answers-container">
                    <p class="current-state-answers flex-center-column"><b><%= subsCardData[i].answerCount %></b> réponses</p>
                </div>
                <div class="separator"></div>
                <div class="current-state-vote-container">
                    <p class="current-state-vote flex-center-column"><b><%= subsCardData[i].voteCount %></b> votes</p>
                </div>
            </div>

            <div class="top-card-container flex-center">
                <div class="title-container">
                    <a href="/thread/<%= subsCardData[i].thread_id %>/0" class="title"><%= subsCardData[i].title %></a>
                    <div class="category-link-container">
                        <a class="category-link" href="/c/<%= subsCardData[i].category %>/all/0"><%= subsCardData[i].category %></a>
                    </div>
                </div>
            </div>

            <div class="aligned-container flex-center">
                <div class="options-container flex-center">
                    <div class="options-icon-container flex-center align-subicon">
                        <i class="material-icons options-add-icon">add</i>
                        <i class="material-icons options-follow-icon">turned_in</i>
                    </div>
                    <div class="options-icon-container flex-center">
                        <i class="material-icons options-star-icon"><% if(subsCardData[i].isFav){ %> star <% }else{ %> star_border <% } %></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
<%
}
%>
