.column-flex-center{
        flex-direction: column !important;
}
#main-container{
}
        #main-content-container{
            background: rgba(255,255,255, 0.8);
            width: 60%;
            border-radius: 4px;
            padding: 15px;
            margin: 15px 0 0 0;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        #user-add-container{
            flex-direction: row !important;
            justify-content: space-around;
            width: 100%;
        }
                #user-add-form{
                    position: relative;
                    flex-direction: column;
                }
                        #user-add-form label{
                            align-self: flex-start;
                            margin: 15px 0 0 0;
                        }
                        #new-user-button{
                            margin: 15px 0 0 0;
                        }
        ul{
            margin: 0; padding: 0;
        }
                li{
                    list-style: none;
                }
                #bulk-insert-container{
                    padding: 15px;
                }
                        #bulk-new-user-input{
                            margin: 0 0 15px 0;
                        }
        #user-list-container{

        }
                .user-list-title{
                        position: relative;
                        margin: auto;
                }
                #user-list{

                }
                        #user-list-table{
                            border: 1px solid #aaa;
                            border-collapse: collapse;
                        }
                                .user-list-line{
                                        text-align: left;
                                }
                                #user-list-table th, #user-list-table td{
                                        padding: 5px;
                                        border: 1px solid #ccc;
                                }
                                #user-list-table tr:nth-child(n+2){
                                        background: #FFF4E4;
                                }
                                .danger-alert span:hover{
                                        background: red;
                                        color: white;
                                }
                                .caution-alert span:hover{
                                        background: yellow;
                                }
                                .mod-action-button{
                                        padding: 3px;
                                        border-radius: 4px;
                                        cursor: pointer;
                                }
@media only screen and (max-width: 600px) {
    #main-content-container{
      min-width: 100% !important;
    }
    #user-add-container{
        flex-direction: column !important;
    }
    #bulk-insert-container{
      width: 100%;
    }
    #user-list-container{
      width: 100%;
      overflow-x: scroll;
    }
    #user-list-table{
      background: white;
      width: 100%;
    }
    #bulk-new-user-input{
      width: 100%;
      margin: 0 0 15px 0;
    }

}
