<% include inc/head.ejs %>
  <link rel='stylesheet' href='/css/admin/admin.css' />
</head>
<body>
<% include inc/header.ejs %>
<% include inc/notifications.ejs %>

<section id="main-container" class="flex-center page-out">
  <div id="main-content-container" class="column-flex-center">
    <div id="user-add-container" class="flex-center">
      <div id="user-add-subcontainer-left">
        <h3>Ajout d'utilisateur rapide</h3>
        <form id="user-add-form" class="flex-center" action="" method="post">
          <label for="pseudo">Pseudo</label>
          <input type="text" id="pseudo" name="pseudo" required value="">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required value="">
          <label for="name">Nom</label>
          <input type="text" id="name" name="name" required value="">
          <label for="surname">Prénom</label>
          <input type="text" id="surname" name="surname" required value="">
          <label for="classe">Classe ID</label>
          <input type="text" id="classe" name="classe" required value="">
          <button type="button" id="new-user-button" name="newUserButton">Envoyer</button>
        </form>
      </div>
      <div id="user-add-subcontainer-right">
        <p>Classes :</p>
        <ul>
          <% for(let i = 0; i < classesData.length; i++){ %>
            <li><%= classesData[i].id %> - <img class="class-icon" src="<%= classesData[i].icon %>"><%= classesData[i].name %></li>
          <% } %>
        </ul>
      </div>
    </div>

      <div id="bulk-insert-container" class="column-flex-center">
        <h3>Ajout d'utilisateur en gros</h3>
        <p><em>pseudo1:email:classe_id,<br />
          pseudo2:email:classe_id</em>
        </p>
        <textarea id="bulk-new-user-input" name="name" rows="8" cols="80"></textarea>
        <button type="button" id="bulk-new-user-button" name="bulkNewUserButton">Envoyer</button>
      </div>
      <div id="user-list-container">
        <h3 class="user-list-title">Listing utilisateurs</h3>
        <div id="user-list">
          <table id="user-list-table">
            <tr>
              <th>ID</th>
              <th>Pseudo</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Email</th>
              <th>Id classe</th>
              <th>Id role</th>
              <th>Supprimé</th>
              <th>Bannis</th>
              <th>first_time</th>
              <th>Bannir</th>
              <th>Supprimer</th>
              <th>Reset pwd</th>
            </tr>
            <% for(let i = 1; i < usersDataLength; i++){ %>
              <tr class="user-list-line" id="<%= usersData[i].id %>">
                <td class="id-cell"><%= usersData[i].id %></td>
                <td class="pseudo-cell"><%= usersData[i].pseudo %></td>
                <td class="name-cell"><%= usersData[i].name %></td>
                <td class="surname-cell"><%= usersData[i].surname %></td>
                <td class="email-cell"><%= usersData[i].email %></td>
                <td class="class-id-cell"><%= usersData[i].class_id %></td>
                <td class="role-id-cell"><%= usersData[i].role_id %></td>
                <td class="is-delete-cell"><%= usersData[i].is_deleted %></td>
                <td class="is-ban-cell"><%= usersData[i].is_banned %></td>
                <td class="is-reset-cell"><%= usersData[i].first_time %></td>

                <td class="danger-alert"><span class="ban-button mod-action-button"><% if ( (usersData[i].is_banned) ){ %> Debannir <% }else{ %> Bannir <% } %></span></td>
                <td class="danger-alert"><span class="delete-button mod-action-button"><% if ( (usersData[i].is_deleted) ){ %> Restorer <% }else{ %> Supprimer <% } %></span></td>
                <td class="caution-alert"><span class="reset-button mod-action-button"><% if ( (usersData[i].first_time) ){ %> Activer <% }else{ %> Reset <% } %></span></td>
              </tr>
            <% } %>
          </table>
        </div>
      </div>
  </div>
</section>

<% include inc/footer.ejs %>
<script src="/js/admin/admin-events.js"></script>

</body>
</html>
