<% include inc/head.ejs %>
  <link rel='stylesheet' href='/css/front/front.css' />
  <link rel='stylesheet' href='/css/front/card_tile.css' />
  <link rel='stylesheet' href='/css/categories/categories.css' />
</head>
<body>
<% include inc/header.ejs %>
<% include inc/notifications.ejs %>

<section id="main-container" class="page-out">
  <% include inc/categories-cards.ejs %>
</section>

<% include inc/footer.ejs %>

</body>
</html>
