<% include inc/head.ejs %>
    <link rel='stylesheet' href='/css/front/front.css' />
    <link rel='stylesheet' href='/css/front/card_line.css' />
    <link rel='stylesheet' href='/css/global/page-number.css' />
    <% if ( !(userData.first_time) ){ %>
        <link rel='stylesheet' href='/css/front/rules.css' />
    <% } %>
    </head>

    <body>
        <% if ( typeof(userData) !== 'undefined' && (userData.first_time) ){ %>
            <% include inc/define-password.ejs %>
        <% } else {%>
            <% include inc/header.ejs %>
            <% include inc/grey-overlay.ejs %>
            <% include inc/new-thread.ejs %>
            <% include inc/notifications.ejs %>

        <section id="main-container" class="page-out">
            <% if ( typeof(noResults) !== 'undefined' && (noResults) ){ %>
                <div id="nothing-here-container" class="flex-center">
                    <h1 id="nothing-here">Rien à afficher</h1>
                </div>
            <% } else { %>
                <div id="card-wrapper">
                    <div id="page-0" class="page-anchor">
                        <% include inc/cards_line.ejs %>
                            <div id="scroll-trigger-1" class="scroll-trigger"></div>
                    </div>
                </div>
            <% } %>
        </section>
        <% } %>

        <% if ( !(userData.first_time) ){ %>
            <% include inc/rules.ejs %>
            <div id="add-button" class="flex-center">
                <i class="material-icons">add</i>
            </div>
            <% include inc/page-number.ejs %>
        <% } %>

        <% include inc/footer.ejs %>
        <script src="/js/front/form.js"></script>
        <script src="/js/front/front-events.js"></script>
        <script src="/js/thread/preview.js"></script>
        <script src="/js/thread/messages.js"></script>
    </body>

    </html>
