<% include inc/head.ejs %>
 <link rel='stylesheet' href='/css/login/login.css' />
</head>
<body class="flex-center-column">
  <section id="main-container" class="flex-center-column">
    <div id="card-container" class="flex-center-column">
      <div id="card-header-container">
        <div id="tab-container" class="flex-center">
          <div id="tab-login" class="tab-name">
            Login
          </div>
          <div id="tab-reset" class="tab-name">
            <p>Reset</p>
          </div>
        </div>
        <div id="marker-container">
            <div id="marker">
            </div>
        </div>
      </div>
      <div id="login-logo-container" class="flex-center">
        <img src="/img/esgi_under_full_alpha.png" alt="logo" id="login-logo">
      </div>
      <div id="form-container" class="flex-center">
        <div id="login-form-container">
          <form id="login-form" action="/login/" method="post" class="flex-center-column">
            <input id="login-pseudo" class="login-form-input" required type="text" name="loginUsername" value="" placeholder="Pseudo">
            <input id="login-password" class="login-form-input" required type="password" name="loginPassword" value="" placeholder="Mot de passe">
            <div id="login-button-container">
              <button id="login-button" class="login-button" name="" value="Login">Login</button>
            </div>
          </form>
        </div>
        <div id="reset-form-container">
          <form id="reset-form" class="flex-center-column">
            <input id="reset-pseudo" class="login-form-input" required type="text" name="resetUsername" value="" placeholder="Pseudo">
            <input id="reset-email" class="login-form-input" required type="email" name="resetEmail" value="" placeholder="Email">
            <div id="reset-button-container">
              <button id="reset-button" class="login-button" name="" value="Réinitialiser">Réinitialiser</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <% if (error !== undefined) { %>
    <div id="error-container" class="flex-center">
        <i class="material-icons" id="error-icon">error</i>
        <p id="error-text"> <%= error %> </p>
    </div>
  <% } %>

<% include inc/footer.ejs %>
<script src="/js/login/login-events.js"></script>

</body>
</html>
