<% include inc/head.ejs %>
<link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
 <link rel='stylesheet' href='/css/login/login.css' />
</head>
<body class="flex-center">
<section id="main-container" class="flex-center">
    <div id="login-logo-container" class="flex-center">
      <h1 id="login-text-before"><span class="bracket" id="left-bracket">{</span>ESGI<span class="bracket" id="right-bracket">}</span></h1>
      <h1 id="login-text"><span class="bracket" id="left-bracket">{</span>ESGI<span class="bracket" id="right-bracket">}</span></h1>
      <h1 id="login-text-after"><span class="bracket" id="left-bracket">{</span>ESGI<span class="bracket" id="right-bracket">}</span></h1>
      <div id="login-subtext-container">
        <h3 id="login-subtext-before">BRACKETS</h3>
        <h3 id="login-subtext">BRACKETS</h3>
        <h3 id="login-subtext-after">BRACKETS</h3>
      </div>
    </div>
    <div id="form-container" class="flex-center">
      <form id="login-form" action="/login/" method="post" class="flex-center">
        <input id="login-pseudo" required type="text" name="loginUsername" value="" placeholder="Pseudo">
        <input id="login-password" required type="password" name="loginPassword" value="" placeholder="Password">
        <div id="login-button-container">
          <button id="login-button" name="" value="Login">Login</button>
        </div>
      </form>
    </div>
</section>
<div id="error-container" class="flex-center">
  <% if (error !== undefined) { %>
<i class="material-icons" id="error-icon">error</i>
    <p id="error-text"> <%= error %> </p>
    <% } %>
</div>

<% include inc/footer.ejs %>
<script src="/js/login/login-events.js"></script>

</body>
</html>
