<% include inc/head.ejs %>
  <link rel='stylesheet' href='/css/front/card_line.css' />
  <link rel='stylesheet' href='/css/thread/thread.css' />
  <link rel='stylesheet' href='/css/profile/profile.css' />
</head>
<body>
<% include inc/header.ejs %>
<% include inc/notifications.ejs %>

<section id="main-container" class="flex-center page-out">
  <% let i = 0; %>
  <div id="main-inner-container" class="flex-center">
    <div class="profile-identity">
      <p class="member-name"><%= userData.pseudo %></p>
      <div class="member-subtitle-container">
        <% if (userData.is_banned){ %>
          <img src="/img/bannis.gif" class="member-icon">
          <p class="member-role">Banni</p>
        <% } else { %>
          <img src="<% if (userData.is_deleted) { %>/img/death.gif<% } else { %> <%= userData.icon %> <% } %>" class="member-icon">
          <p class="member-role rarity-<%= rolesData[userData.role_id].rarity %>"><%= userData.role_title %></p>
        <% } %>
      </div>
      <div id="op-class-container" class="flex-center">
        <!--<img class="class-icon" src="<%= //userData.classIcon %>" alt="class-icon">-->
        <p id="op-class-name"><%= userData.className %></p>
      </div>
      <p class="member-stats"><%= userData.score %> points</p>
    </div>

    <div id="tabs-container">
      <ul id="tab-head-container" class="flex-center">
        <li class="tab-head-label active-tab"><a href="#tab-1">Favoris</a></li>
        <li class="tab-head-label"><a href="#tab-2">Abonnements</a></li>
        <li class="tab-head-label"><a href="#tab-3">Distinctions</a></li>
      </ul>
      <div id="tab-1" class="tab">
        <div class="tab-list-container">
          <% include inc/fav-cards.ejs %>
        </div>
      </div>
      <div id="tab-2" class="tab">
        <div class="tab-list-container">
          <% include inc/sub-cards.ejs %>
        </div>
      </div>
      <div id="tab-3" class="tab">
        <div class="tab-list-container">
            <% include inc/roles.ejs %>
        </div>
      </div>
    </div>
  </div>

</section>

<% include inc/footer.ejs %>
<script src="/js/thread/messages.js"></script>
<script src="/js/profile/profile.js"></script>

</body>
</html>
