<% include inc/head.ejs %>
  <link rel='stylesheet' href='/css/thread/post.css' />
  <link rel='stylesheet' href='/css/thread/thread.css' />
</head>
<body>
<% include inc/header.ejs %>
<% include inc/notifications.ejs %>
<% include inc/original-post.ejs %>
    <div id="answer-sort-container">
        <p id="answer-quantity"><%= postQuantity %> réponses</p>
        <!--<div id="sort-by-container">
          <p id="sort-by">Trier par : <span id="sort-by-label">Votes</span></p>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>-->
    </div>
    <div class="main-posts-container">
        <% include inc/posts.ejs %>
    </div>
    <% if ( !(threadData.is_closed) ) { %>
          <div id="add-comment-container" class="flex-center">
            <p id="add-comment">AJOUTER UN COMMENTAIRE</p>
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="no-page-out" target="_blank" title="Syntaxe Markdown">Markdown CheatSheet</a>
          </div>
      <div id="comment-section-container">
        <span id="comment-error-text" class="error-text">Votre message ne doit pas être vide</span>
        <form id="new-reply-form">
            <textarea name="replyText" id="reply-box" rows="8" cols="80"></textarea>
            <div id="reply-button-container">
              <button id="new-reply-button" name="new-reply-button">Envoyer</button>
            </div>
        </form>

        <div id="preview-label-container">
          <h3 id="preview-label">Prévisualisation</h3>
         <i class="material-icons" id="refresh-preview" title="Raffraîchir">refresh</i>
        </div>
        <div id="preview-box-container">
          <div id="preview">
            <p id="preview-text"><span id="preview-placeholder">Vide</span></p>
          </div>
      </div>
  </div>
    <% }else{ %>
      <h3 id="add-comment">Le sujet a été fermé.</h3>
      <div id="comment-section-container"></div>
    <% } %>
  </div>
</section>

<% include inc/footer.ejs %>
<script src="/js/thread/preview.js"></script>
<script> updateHighlight(); </script>
<script src="/js/thread/thread-events.js"></script>
<script src="/js/thread/messages.js"></script>

</body>
</html>
